.navbar-nav >li >a{
    color: #00bcd4;
}
#hero{
    opacity: 0.7;
}
.hero-content h1{
    opacity: 0.85;
    color: #00bcd4 !important;
    font-weight: 700;
}
.post-meta {
    margin-top: 40px !important;
}
.post-meta span + span {
    margin-left: 30px !important;
}
.portfolio-sorting li .active{
    background-color: unset;
    color: #8c8f94;
}
/* .row{
    height: 3040.2px;
} */